.controls {
  background: rgb(40, 40, 40);
  border-top: 1px solid rgb(30, 30, 30);
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #787c7f;
  height: 50px;
  z-index: 100;

  display: flex;
  flex-direction: row;

  .controls-timeline {
    position: absolute;
    background-color: #787c7f;
    height: 5px;
    width: 100%;
    bottom: 50px;

    .controls-timeline-part {
      background-color: darken(#787c7f, 10%);
      height: 100%;
      transition: width 0.25s linear;
      position: absolute;
    }

    .controls-timeline-progress {
      background-color: #5793db;
      height: 100%;
      transition: width 0.25s linear;
      position: absolute;
      z-index: 101;
    }
  }

  -webkit-transition: opacity 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in;
  -o-transition: opacity 0.1s ease-in;
  -ms-transition: opacity 0.1s ease-in;
  transition: opacity 0.1s ease-in;

  i {
    font-size: 24px;
    margin-left: 10px;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  i:first-child {
    margin-left: 0;
  }

  .controls-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
    height: 100%;
  }

  .controls-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    align-items: center;
  }

  .volume-slider {
    -webkit-appearance: none;
    -webkit-app-region: no-drag;
    width: 60px;
    height: 3px;
    border: none;
    padding: 0;
    opacity: 0.85;
    margin-left: 10px;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -webkit-app-region: no-drag;
      background-color: #2196F3;
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }

    &:focus {
      outline: none;
    }
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.media {
  position: absolute;
  width: 100%;
  height: 100%;
}
